<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/formTeacher" method="post">
        Name:<input type="text" name="name">
        Email:<input type="email" name="email" id="">
        Password<input type="password" name="pass" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>